@import url('https://fonts.cdnfonts.com/css/norse');
body {
   margin: 0; 
   display: flex;
   justify-content: space-between;
   background-color: black;
   padding-left: 270px;
   padding-right: 270px;
}
.im_g {
    background-image: url("bgimg.gif");
    height: 100vh;
    min-width: 40%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container {
    display: flex;
    padding-top: 180px;
    justify-content:center;
}
img {
    height: 130px;
    }
.side_txt {
    font-size: 80px;
    font-family: 'Norse', sans-serif;
    color: white;
    font-weight: bold;
    padding-top: 20px;
}
.photo_creds {
    color:rgb(193, 190, 190);
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
}
a {
    color:rgb(193, 190, 190);
}
.frm {
    background-color: white;
    height: inherit;
    min-width: 60%;
    padding-left: 40px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-form {
    display: block;
    padding-right: 15%;
}
#row1, #row2, #row3 {
    display: flex;
    justify-content: space-between;
}
.item1, .item2 {
    display: inline-block;
}
label {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 3px;
    font-size: 12px;
  }
  input {
    font-family: 'Nunito', sans-serif;
    border-radius: 3px;
    border: 1px rgb(216, 215, 215) solid;
    margin: 0 auto auto auto;
    padding-top: 2.5% ;
    width: 250px;
  }
  button {
    background-color: green;
    width: 25%;
    height: 60%;
    border-radius: 5px;
  }