body {
   margin: 0; 
   display: flex;
   justify-content: space-between;
   background-color: black;
   padding-left: 200px;
   padding-right: 200px;
}
.im_g {
    background-image: url("bgimg.gif");
    height: 100vh;
    min-width: 30%;
    background-size: cover;
}
.frm {
    background-color: white;
    height: inherit;
    min-width: 70%;
}